h1{
    
    color: rgb(181, 3, 26);
    text-align:center;
    text-transform:uppercase;
    border: 2px solid red;
    border-style: dotted;
    border-left: 2px solid green;
    border-bottom: 3px solid red;
    border-top:3px solid red;
    border-right: 2px solid green;
    border-bottom-style: dotted;
}
h2{
    text-align: center;
    border: 4px solid violet;
}
p{
     background-color: hsla(210, 87%, 52%,0.9);
     font-family: 'Courier New', Courier, monospace;
     font-size: 20px;
     font-weight: 30px;
     font-style: italic;
     color: white;
     text-decoration: underline;
     text-decoration-style: double;
     text-decoration-color: red;
     text-decoration-thickness: 1px;
#id1{
    background-color: hsl(210, 87%, 52%);
}
#id2{
    background-color: rgb(0, 0,0);
    color: white;
}

.rec{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 100px;
}