.counter {
  height: 100vh;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter h1 {
  font-size: 50px;
}

.counter button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
}
